HOST=127.0.0.1

# DB
DB_NAME=seating
DB_USER=root
DB_PASSWORD=rootpw

# Mongo
MONGO_HOST=127.0.0.1
MONGO_PORT=27017
MONGO_USER=mongo_admin
MONGO_PASSWORD=strongpassword
MONGO_DB_NAME=seating

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379