{% load static %}

<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Cornerstone - Seating</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{% static 'seating/reconnecting-websocket.min.js' %}"></script>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'seating/style.css' %}">
  
</head>

<body>
  
  <div class="plane">
    <div class="cockpit">
      <h1>Stage</h1>
    </div>
    <div class="exit exit--front fuselage">
      
    </div>
    <ol class="cabin fuselage">
      <li class="row row--1">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="1A" state="vacant" />
            <label for="1A">1A</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="1B" state="vacant" />
            <label for="1B">1B</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="1C" state="vacant" />
            <label for="1C">1C</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="1D" state="vacant" />
            <label for="1D">1D</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="1E" state="vacant" />
            <label for="1E">1E</label>
          </li>
          <li class="hidden_seat">
          </li>
          <li class="seat">
            <input type="checkbox" id="1G" state="vacant" />
            <label for="1G">1G</label>
          </li>
        </ol>
      </li>
      <li class="row row--2">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="2A" state="vacant" />
            <label for="2A">2A</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="2B" state="vacant" />
            <label for="2B">2B</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="2C" state="vacant" />
            <label for="2C">2C</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="2D" state="vacant" />
            <label for="2D">2D</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="2E" state="vacant" />
            <label for="2E">2E</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="2F" state="vacant" />
            <label for="2F">2F</label>
          </li>
        </ol>
      </li>
      <li class="row row--3">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="3A" state="vacant" />
            <label for="3A">3A</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="3B" state="vacant" />
            <label for="3B">3B</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="3C" state="vacant" />
            <label for="3C">3C</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="3D" state="vacant" />
            <label for="3D">3D</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="3E" state="vacant" />
            <label for="3E">3E</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="3F" state="vacant" />
            <label for="3F">3F</label>
          </li>
        </ol>
      </li>
      <li class="row row--4">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="4A" state="vacant" />
            <label for="4A">4A</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="4B" state="vacant" />
            <label for="4B">4B</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="4C" state="vacant" />
            <label for="4C">4C</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="4D" state="vacant" />
            <label for="4D">4D</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="4E" state="vacant" />
            <label for="4E">4E</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="4F" state="vacant" />
            <label for="4F">4F</label>
          </li>
        </ol>
      </li>
      <li class="row row--5">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="5A" state="vacant" />
            <label for="5A">5A</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="5B" state="vacant" />
            <label for="5B">5B</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="5C" state="vacant" />
            <label for="5C">5C</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="5D" state="vacant" />
            <label for="5D">5D</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="5E" state="vacant" />
            <label for="5E">5E</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="5F" state="vacant" />
            <label for="5F">5F</label>
          </li>
        </ol>
      </li>
      <li class="row row--6">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="6A" state="vacant" />
            <label for="6A">6A</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="6B" state="vacant" />
            <label for="6B">6B</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="6C" state="vacant" />
            <label for="6C">6C</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="6D" state="vacant" />
            <label for="6D">6D</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="6E" state="vacant" />
            <label for="6E">6E</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="6F" state="vacant" />
            <label for="6F">6F</label>
          </li>
        </ol>
      </li>
      <li class="row row--7">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="7A" state="vacant" />
            <label for="7A">7A</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="7B" state="vacant" />
            <label for="7B">7B</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="7C" state="vacant" />
            <label for="7C">7C</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="7D" state="vacant" />
            <label for="7D">7D</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="7E" state="vacant" />
            <label for="7E">7E</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="7F" state="vacant" />
            <label for="7F">7F</label>
          </li>
        </ol>
      </li>
      <li class="row row--8">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="8A" state="vacant" />
            <label for="8A">8A</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="8B" state="vacant" />
            <label for="8B">8B</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="8C" state="vacant" />
            <label for="8C">8C</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="8D" state="vacant" />
            <label for="8D">8D</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="8E" state="vacant" />
            <label for="8E">8E</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="8F" state="vacant" />
            <label for="8F">8F</label>
          </li>
        </ol>
      </li>
      <li class="row row--9">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="9A" state="vacant" />
            <label for="9A">9A</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="9B" state="vacant" />
            <label for="9B">9B</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="9C" state="vacant" />
            <label for="9C">9C</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="9D" state="vacant" />
            <label for="9D">9D</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="9E" state="vacant" />
            <label for="9E">9E</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="9F" state="vacant" />
            <label for="9F">9F</label>
          </li>
        </ol>
      </li>
      <li class="row row--10">
        <ol class="seats" type="A">
          <li class="seat">
            <input type="checkbox" id="10A" state="vacant" />
            <label for="10A">10A</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="10B" state="vacant" />
            <label for="10B">10B</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="10C" state="vacant" />
            <label for="10C">10C</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="10D" state="vacant" />
            <label for="10D">10D</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="10E" state="vacant" />
            <label for="10E">10E</label>
          </li>
          <li class="seat">
            <input type="checkbox" id="10F" state="vacant" />
            <label for="10F">10F</label>
          </li>
        </ol>
      </li>
    </ol>
    <div class="exit exit--back fuselage">
      
    </div>
  </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  
  
  
</body>

{% include "seating/js.html" %}

</html>
