version: '3'
services:
  mysql:
    image: mysql:5.6
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    ports:
      - ${MYSQL_PORT}:3306
 
  mongo:
    image: mongo:latest
    ports:
      - ${MONGO_PORT}:27017
 
  redis:
    image: redis:alpine
    ports:
      - ${REDIS_PORT}:6379
 